.login-container {
	width: 60%;
	margin: 5rem auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
		color: var(--primary-text-color);
	}
	p {
		font-size: 1.8rem;
		color: var(--primary-text-color);
		padding-bottom: 2rem;
	}
	.btn-compoment {
		h3 {
			font-size: 2rem;
			color: var(--primary-text-color);
		}
		input {
			margin: 2rem 0;
			padding: 1rem;
			width: 40%;
			border-radius: 1rem;
			border: 2px solid var(--border-color);
			outline: none;
			font-size: 1.6rem;
		}
	}
	button {
		font-size: 1.8rem;
		width: 25%;
		background-color: var(--primary-color);
		color: white;
		padding: 1rem 1rem;
		border: 2px solid var(--border-color);
		border-radius: 1rem;
	}
}
