.verification-container {
	width: 60%;
	margin: 5rem auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	h2 {
		font-size: 2rem;
		margin-bottom: 2rem;
		color: var(--primary-text-color);
	}
	p {
		font-size: 1.8rem;
		color: var(--primary-text-color);
		padding-bottom: 2rem;
	}
	.input-container {
		display: flex;
		input {
			width: 5rem;
			height: 5rem;
			border-radius: 0.5rem;
			outline: none;
			border: 2px solid var(--primary-text-color);
			margin: 0 2rem;
            font-size: 2rem;
            padding-left: 0.5rem;
		}
	}
	button {
		font-size: 1.8rem;
		width: 30%;
		background-color: var(--primary-color);
		color: white;
		padding: 1rem 1rem;
		border: 2px solid var(--border-color);
		border-radius: 1rem;
        margin-top: 5rem;
	}
}
